@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import './navbar.css';
@import url('./buttons.css');
@import url('./background.css');
@import url('./inputs.css');
@import url('./position.css');
@import url('./colors.css');

:root {
    --bg-orange:        #F46A05;
    --bg-orange-hover:  #D85F08;
    --bg-black:         #000000;
    --bg-grey-1:        #757575;
    --bg-grey-2:        #F4F4F4;
    --bg-white:         #FFFFFF;
    --bg-yellow:        #FCB705;
    --bg-roxo:          #E9008C;
}

html, body {
    font-size: 16px;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}